extends layout

block content
  .container-fluid
    h1 Funafunafuna hyappphaaaaa 
    div.row.card-container
      div.col-md-8
      div.card.col-md-4
        div.pon.col-md-3
        div.about-pon.col-md-8
          h1 Warut Surapat
          span.social-media
            a(href='https://github.com/swarut') 
              i.fa.fa-github-alt.fa-2x
          span.social-media
            a(href='http://www.facebook.com/warut.surapat')
              i.fa.fa-facebook.fa-2x
          span.social-media
            a(href='http://twitter.com/swarut')
              i.fa.fa-twitter.fa-2x
          p.
            Warut Surpat is a life-time learner, a full-time novice software developer 
            who loves clean code, a part-time instructor, a noob dota player, 
            a music lover, a tennis topspinner and a low class trader.
          p.
            People often know Warut from his god-like gags. Whenever he plays the gags,
            all people can not stop laughing. It is amazing that the earth can create
            such a god-give talent gag player like him.
          p.
            Ruby is his favourite language that he always use it to solve the problems.
            He loves git and tries to promote git to many people. His opinion about 
            git client is that Source tree sucks, and Gitx-dev rules!. Anyway, he prefers
            to use a git-cli than the gui.
          p.
            Japan is his beloved country. He loves everythings related to japan, especially,
            the japanese musics that has rocked him until now.

