extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        img#cover-image.img-circle(src='https://avatars1.githubusercontent.com/u/3662104?v=2&s=460')
        h2 Sikhapol Saijit (sAM)
        p.my-story A software engineer.
        p.my-story A mobile application developer (iOS) at Taskworld.
        p.my-story I code in Objective-C, Swift, Python, C++ and Javascript.
        p.my-story Friends don't let friends code on Windows.
        img#taskworld-logo(src='/images/taskworld-logo.svg')
    .contact
      a(href='mailto:sikhapol.s@taskworld.com')
        i(class=['fa', 'fa-at'])
      a(href='https://taskworld.slack.com/team/sam', target='_blank')
        i(class=['fa', 'fa-slack'])
      a(href='https://github.com/sikhapol', target='_blank')
        i(class=['fa', 'fa-github'])
      a(href='https://www.facebook.com/sikhapol.saijit', target='_blank')
        i(class=['fa', 'fa-facebook'])
      a(href='https://twitter.com/steadyme', target='_blank')
        i(class=['fa', 'fa-twitter'])
      a(href='#')
        i(class=['fa', 'fa-steam'])
