extends layout

block content
	.container
		.page-header
			h1 Niranrat Soisuwan
		.center
			img(src='http://placehold.it/300x200')
		br
		p Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.
		i.fa.fa-quote-left.fa-3x.pull-left.fa-border ...tomorrow we will run faster, stretch out our arms farther...And then one fine morning— So we beat on, boats against thecurrent, borne back ceaselessly into the past.

