doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootsrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/bootsrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/jquery/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/bootsrap/js/dist/jquery.min.js')
